@import "styles/vars.scss";
.screen {
  width: 100vw;
  min-height: 178vw;
  background-color: white;
  padding-top: 14vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  > .header {
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6.4vw;
    text-align: center;
    color: #000000;
    margin-bottom: 9vw;
  }
  .contacts {
    width: 80vw;
    height: 80vw;
    background-color: #2C5CBD;
    margin: 0 auto 16vw auto;
    border-radius: 50%;
    padding-top: 19%;
    padding-left: 14%;
    .greeting {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 700;
      font-size: 5.6vw;
      color: #FFFFFF;
      line-height: 1.4;
      padding-left: 18%;
      margin-bottom: 5.4vw;
    }
    .time, .phone {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        width: 5.3vw;
        height: 5.3vw;
        display: inline-block;
        margin-right: 1.4em;
      }
    }
    .time {
      font-weight: 400;
      font-size: 5vw;
      color: #FFFFFF;
      line-height: 1.6;
      &:before {
        background: url('./assets/time.svg') no-repeat;
        background-size: cover;
      }
    }
    .phone {
      font-weight: 400;
      font-size: 4.2vw;
      color: #FFFFFF;
      line-height: 2;

      a {
        color: white;
        text-decoration: underline;
      }
      &:before {
        background: url('./assets/phone.svg') no-repeat;
        background-size: cover;
      }
      &.whatsapp {
        &:before {
          background: url('./assets/whatsapp.svg') no-repeat;
          background-size: cover;
          width: 6.4vw;
          height: 6.4vw;
        }
      }
    }
  }
  .filials {
    margin-bottom: 3.5vw;
    .header {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 700;
      font-size: 6.4vw;
      text-align: center;
      color: #000000;
      margin-bottom: 6vw;
    }
    .tabs {
      display: flex;
      padding: 0 5.8vw 0 5.8vw;
      justify-content: center;
      margin-bottom: 5.6vw;
      .tab {
        font-weight: 400;
        font-size: 3.2vw;
        color: #2C5CBD;
        line-height: 3;
        width: 50%;
        text-align: center;
        border-bottom: 1px solid transparent;
        padding-bottom: 1px;
        transition: all 0.2s ease-in 0s;
        &.active {
          font-weight: 700;
          border-bottom: 2px solid #2C5CBD;

        }
      }
    }
    .maps {
      width: 100vw;
      position: relative;
    }

  }
  .footer {
    position: relative;
    padding-bottom: 0;
    padding-top: 67vw;
    background: url('./assets/bgr.png') no-repeat;
    background-size: cover;
    min-height: calc(100vh - 37vw);
    overflow: hidden;
    .logo {
      margin: 0 auto;
      background: url('./assets/agc-logo.svg') #f5f5f5 no-repeat;
      width: 32vw;
      height:25vw;
    }
    .text {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 700;
      font-size: 5.6vw;
      text-align: center;
      color: white;
      margin-bottom: 9vw;
    }
    .divider {
      width: 33vw;
      height: 0.3vw;
      background: white;
      margin: 0 auto 8vw auto;
    }
    .text1 {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 700;
      font-size: $fontsize16;
      text-transform: uppercase;
      text-align: center;
      color: white;
      margin-bottom: 4.8vw;
      line-height: 1.4;
    }
    .text2 {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 400;
      font-size: $fontsize16;
      text-align: center;
      color: white;
      margin-bottom: 4.8vw;
    }
    .text3 {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 600;
      font-size: $fontsize14;
      text-align: center;
      color: #000000;
      margin-bottom: 4.8vw;
    }
    .hearts {
      width: 28vw;
      height: 4.8vw;
      background: url('./assets/hearts.png') no-repeat;
      background-size: contain;
      margin: 0 auto 7vw auto;
    }
    .buttons {
      padding: 0 9.8vw 0 9.8vw;
      margin-bottom: 10.66vw;
      > button {
        margin-bottom: 3.5vw;
        &:last-child {
          font-size: $fontsize12;
        }
      }
    }
    .seeYou {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 600;
      font-size: $fontsize16;
      text-transform: uppercase;
      text-align: center;
      color: #000000;
      margin-bottom: 11.46vw;
    }
  }
  .copyRights {
    background: #E9E9E9;
    padding: 0 0 16vw 0;
    &.open {
      .arrow {
        transform: rotate(180deg);
      }
      .expanded {
        display: block;
      }
    }
    .arrow {
      width: 6.4vw;
      height: 6.4vw;
      background: url('./assets/arrow-for-footer.svg') center no-repeat;
      background-size: contain;
      margin: 0 auto 4vw auto;
    }
    .expanded {
      display: none;
    }

    .title {
      color: #696969;
      line-height: 1.3;
      text-align: center;
      padding: 9vw 0 3.2vw 0;
      font-size: $fontsize12;
      }
    .link {
      text-align: center;
      font-size: $fontsize12;
      display: block;
      margin-bottom: 6vw;
      color: #2C5CBD;
      text-decoration: underline;
      &:active {
        color: #2C5CBD;
        text-decoration: underline;
      }
    }
    .description {
      font-size: $fontsize10;
      margin-bottom: 6vw;
      margin-top: 6vw;
      text-align: center;
      color: #696969;
      padding: 0 9vw;
      line-height: 1.3;
    }
  }

}