@import "styles/vars.scss";
.text {
    position: absolute;
    left: 0;
    top: 69%;
    line-height: 1;
    width: 100%;
    text-decoration: none;
    .row1 {
        font-size: calc(14 * $px);
        text-align: center;
        color: #696969;
    }
    .row2 {
        font-size: calc(12 * $px);
        text-align: center;
        color: #696969;
        text-decoration: underline;
    }
}