@import "styles/vars.scss";
.screen {
  width: 100vw;
  min-height: 178vw;
  padding: 8.8vw 0 10vw 0;
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
  z-index: 2;
  > .header {
    margin: 0 0 3vw 0;
    .greetings {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 6.2vw;
      text-align: center;
      color: #000000;
      margin-bottom: 3vw;
      line-height: 1.3;
    }
    .greetings2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 1vw 6.4vw;
      > div {

      }
      .logo {
        background: url('./assets/ortus--logo.png') no-repeat center;
        width: 14.13vw;
        height: 14.13vw;
        background-size: contain;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 4vw;
      }
      .title {
        font-style: normal;
        font-weight: 700;
        font-size: $fontsize36;
        color: #6B67DF;
        margin-top: 0;
        text-align: left;
        line-height: 1.1;
        margin-right: 3vw;
      }
      .about {
        font-style: normal;
        font-weight: 400;
        font-size: $fontsize12;
        line-height: 1.2;
        text-transform: uppercase;
        color: #6B67DF;
      }
      .border {
        height: 10.6vw;
        width: 0.26vw;
        background: #6B67DF;
        margin-right: 3vw;
      }
    }
  }
  .ortusMaket {
    height: 110vw;
    width: 100vw;
    background: url("./assets/ortus--bgr.png") no-repeat center, url("./assets/ortus--bgr2.png") no-repeat center;
    background-size: contain;
    margin-bottom: 4vw;
    position: relative;
/*    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }*/
  }
  .download {
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6.2vw;
    text-align: center;
    color: #000000;
    margin-bottom: 5vw;
  }
  .buttons {
    display: flex;
    justify-content: center;
    a {
      display: block;
      width: 35vw;
      height: 14.8vw;
      margin: 0 2vw;
      &.toGoogle {
        background: url('./assets/toGoogle.png') no-repeat;
        background-size: contain;
      }
      &.toIos {
        background: url('./assets/toIos.png') no-repeat;
        background-size: contain;
      }
    }
  }

}
.ortus {
  position: relative;
}
.ortusMainScreen {
  padding-top: 196%;
  width: 100%;
  background-size: contain;
  position: relative;
  margin: 0 0 2.2vw 0;
  background: url("./assets/main_bgr.png") no-repeat left top;
  background-size: cover;
}
.newScreen {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 161%;
  width: 100%;
  margin: 0 0 2.2vw 0;

  &:before {

    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .title {
    color: #fff;
    font-size: 12vw;
    font-weight: 700;
    left: 5%;
    line-height: 1.1;
    position: absolute;
    top: 8%;
    text-transform: uppercase;
  }
  .title2 {
    color: #fff;
    font-size: 4vw;
    font-weight: 300;
    right: 6%;
    line-height: 1.1;
    position: absolute;
    top: 18%;
    text-transform: lowercase;
    text-align: right;
  }
  .downloadLink {
    background: url('./assets/button_bgr.png') no-repeat;
    width: 34%;
    top: 75%;
    position: absolute;
    background-size: contain;
    left: 33%;
    color: transparent;
    overflow: hidden;
    &:before {
      padding-top: 100%;
      content: '';
      display: block;

    }
  }

}
.buttonPosition {
  position: absolute;
  bottom: 0;
  margin-bottom: 12%;
  z-index: 100;
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  > span {
    margin: 0 1vw;
  }
  .bullet {
    margin: 0 1vw;
    width: 1.86vw;
    height: 1.86vw;
    background: #BDBDBD;
    opacity: 0.3;
    border-radius: 50%;
    &.active {
      background: #BDBDBD;
      opacity: 1;
    }
  }
}