@import "styles/vars.scss";

.screen {
  padding-top: 196%;
  width: 100%;
  background-size: contain;
  position: relative;
  margin: 0 0 2.2vw 0;
  background: url('./assets/bgr_slide.png') no-repeat, linear-gradient(180deg, #0A2750 16.51%, #102040 58.97%, #16233E 82.44%, #0F121A 100%);
  background-size: cover;

  .wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(24 * $px);
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      padding-top: 40%;
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(22, 35, 63, 0) 0%, rgba(15, 18, 27, 0.85) 70.57%, #0F121B 91.45%);

    }
  }

  .title {
    font-family: 'Geologica', serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(18 * $px);
    line-height: 115%;
    color: #FFFFFF;
    top: 0;
    margin-bottom: calc(18 * $px);
  }

  .description {
    font-family: 'Geologica', serif;
    font-style: normal;
    font-weight: 300;
    font-size: calc(16 * $px);
    line-height: 135%;
    color: #C3D4E6;

    p {
      margin-bottom: calc(14 * $px);
    }
  }

  .image {
    width: calc(100% - 114 * $px);
    height: auto;
    position: absolute;
    bottom: calc(0 * $px);;
    left: calc(57 * $px);

    img {
      width: 100%;
      height: auto;
    }

  }
}