.card {
  width: 90vw;
  height: 38vw;
  box-shadow: 0 1.2vw 20px rgba(0, 0, 0, 0.05), 1.2vw 1.2vw 3vw rgba(0, 0, 0, 0.2);
  border-radius: 1.8vw;
  overflow: hidden;
  position: relative;
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }


  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top:-22vw;
    width: 100%;
    height: 82vw;
    background:linear-gradient(180deg, rgba(35, 35, 35, 0) 30.97%, rgba(22, 22, 22, 0.63) 65.27%, rgba(22, 22, 22, 0.98) 85.93%), linear-gradient(180deg, rgba(255, 255, 255, 0) 71.64%, #FFFFFF 82.84%);
    z-index: 2;
  }
  .title {
    font-weight: 700;
    font-size: 5.3vw;
    color: white;
    position: absolute;
    left: 6%;
    top: 42%;
    line-height: 1.3;
    z-index: 3;
  }
  button {
    position: absolute;
    left: 6%;
    bottom: 12%;
    z-index: 4;
  }
}