.rating {
  width: 87.2vw;
  height: 12.2vw;
  background-color: white;
  border: 0.3vw solid #EDEDED;
  box-shadow: 0 1vw 2.6vw #EFEFEF;
  border-radius: 2.1vw;
  align-items: center;
  display: flex;

  &:before {
    width: 42%;
    height: 100%;
    position: relative;
    content: '';
    display: block;
    margin-left: 4%;
  }

  &.yandex {
    &:before {
      background: url('./assets/logo__yandex.png') no-repeat left center;
      background-size: contain;
    }
  }

  &.vl {
    &:before {
      background: url('./assets/logo__vl.png') no-repeat left center;
      background-size: contain;
    }
  }
  &.google {
    &:before {
      background: url('./assets/logo__google.png') no-repeat left center;
      background-size: contain;
    }
  }
  &.twogis {
    &:before {
      background: url('./assets/logo__twogis.png') no-repeat left center;
      background-size: contain;
    }
  }
  &.ortus {
    &:before {
      background: url('./assets/logo__ortus.png') no-repeat left center;
      background-size: contain;
    }
    .stars {
      background: url('./assets/heart--gray.svg') repeat-x;
      background-size: contain;
      .value {
        background: url('./assets/heart.svg') repeat-x;
        background-size: contain;
      }
    }
  }
  .stars {
    background: url('./assets/star--gray.svg') repeat-x;
    background-size: contain;
    width: 36.5%;
    margin-right: 2%;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 1px;
      padding-top: 15%;
    }
    .value {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: url('./assets/star.svg') repeat-x;
      background-size: contain;
      //display: none;
    }
  }
  > .value {
    font-size: 5.6vw;
    font-family: Cuprum, serif;
  }
}