.screen {
  width: 100vw;
  min-height: 178vw;
  background-color: white;
  padding-top: 9.86vw;
  padding-bottom: 8.6vw;
  overflow: hidden;
  position: relative;
  z-index: 2;
  .header {
    div:first-child {
      font-weight: 700;
      font-size: 6.4vw;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 3.46vw;
    }
    div {
      font-weight: 400;
      font-size: 4.8vw;
      line-height: 1.6;
      margin: 0 4vw 6.6vw 4vw;
      text-align: center;
    }
  }
  .services {
    > div {
      margin: 0 auto 4vw auto;
    }
    margin-bottom: 10vw;
  }
  .selector {
    div:first-child {
      font-weight: 400;
      font-size: 4.8vw;
      line-height: 1.6;
      margin-bottom: 6vw;
      text-align: center;
    }
    .select {
      width: 90.4vw;
      height: 12vw;
      background: #F5F5F5;
      border: 0.3vw solid #D6D6DE;
      border-radius: 2.1vw;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1em;
      &:after {
        width: 3.73vw;
        height: 3.73vw;
        background: url('./assets/arrow--right.svg') no-repeat center;
        content: '';
      }
    }
  }
 }