@import "styles/vars.scss";
.sendPhone {
  width: 90.4vw;
  margin: auto;
  padding-top: 12.26vw;;
  padding-bottom: 12.26vw;;
  position: relative;
}
.header {
  font-family: Manrope, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5.6vw;
  text-align: center;
  color: #000000;
  margin-bottom: 6vw;
}
.text {
  font-family: 'Manrope', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fontsize12;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 4vw;
}
input {
  width: 100%;
  height: 12.26vw;
  background: #F5F5F5;
  border: 0.26vw solid #D6D6DE;
  border-radius: 8px;
  padding: 0 1em 0 1em;
  outline:none;
  font-family: 'Manrope', serif;
  font-size: $fontsize14;
  color: black;
}
input {
  margin-bottom: 3.73vw;
}
button {
  margin-bottom: 3.73vw;
}
.privateAgree {
  font-size: $fontsize8;
  color: #848484;
  text-align: center;
  span {
    color: #2C5CBD;
  }
  &+div {
    opacity: 0;
    // скрываем captcha
  }
}
.shadowWrapper {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .modal {
    width: 90vw;
    height: 70vw;
    background: white;
    border-radius: 3.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
      width: 18vw;
      height: 18vw;
      background: url('./assets/ok_icon.svg') no-repeat center;
      background-size: contain;
      margin-bottom: 6.4vw;
    }
  }
}