.screen {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: top 0.2s ease-in 0s;
  pointer-events: none;
  &.active {
    top: 0;
    height: auto;
    pointer-events: auto;
  }
}