.card {
  width: 100vw;
  height: 71.5vw;
  box-shadow: 0 1.2vw 20px rgba(0, 0, 0, 0.05), 1.2vw 1.2vw 3vw rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 0 0 2.2vw 0;
  &.subaru {
    .title2 {
      background: #375B9B;
    }
  }
  &.hyundai {
    .title2 {
      background: #A88666;
    }
  }
  &.hyundai, &.mitsubishi, &.subaru, &.nissan {
    .title {
      color: #252525;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(180.27deg, rgba(35, 35, 35, 0) 68.43%, rgba(44, 44, 44, 0.63) 85.26%, rgba(44, 44, 44, 0.98) 99.77%);
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }

  }
  .title {
    font-weight: 400;
    font-size: 4.8vw;
    color: white;
    position: absolute;
    left: 6%;
    top: 7%;
    width: 88%;
    text-align: center;
    line-height: 1.3;
    white-space: nowrap;
    z-index: 3;
  }
  .title2 {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -16%;
    top: 16.5%;
    width: 33%;
    text-align: center;
    line-height: 1.6;
    white-space: nowrap;
    background: #D50A17;
    text-transform: uppercase;
    z-index: 4;
  }
  .title3 {
    font-weight: 400;
    font-size: 3vw;
    color: white;
    position: absolute;
    left: 6%;
    bottom: 8.5%;
    line-height: 1.6;
    white-space: nowrap;
    text-transform: uppercase;
    z-index: 4;
  }
  button {
    position: absolute;
    right: 6%;
    bottom: 6%;
    z-index: 5;
  }
}