@import "styles/vars.scss";
.video {
  width: 90vw;
  height: 50vw;
  position: relative;
  margin-bottom: 3.2vw;
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &.onPlay {
    .preview, .title, .play {
      display: none;
    }
  }
  .preview {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .title {
    position: absolute;
    top: 81%;
    left: 5%;
    font-size: $fontsize12;
    color: white;
  }
  .play {
    width: 15%;
    padding-top: 15%;
    background: url(./assets/play.svg) no-repeat;
    background-size: cover;
    left: 42%;
    top: 30%;
    position: absolute;
  }
}