.screen {
  width: 100vw;
  background-color: white;
  padding-top: 4.26vw;
  overflow: hidden;
  .header {
    font-weight: 700;
    font-size: 6.4vw;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 7vw;
  }
  .giftSections {
    > div {
      margin: 0 auto 4vw auto;
    }
    margin-bottom: 10vw;
  }
 }