.screen {
  width: 100vw;
  height: calc(100vh - 37vw);
  //height: auto;
  padding-bottom: 7vw;
  .subHeader {
    display: flex;
    padding: 7% 6% 6% 6%;
    justify-content: space-between;
    align-items: center;
    div:first-child {
      div:first-child {
        font-weight: 700;
        font-size: 6.4vw;
        line-height: 1.3;
        color: black;
      }
    }
  }
  .image {
    border: 1px solid #E5E5E5;
    border-radius: 2.66vw;
    width: 87.2vw;
    margin: auto;
    overflow: hidden;
    img {
      margin: auto;
      display: block;
      width: 100%;
      height: auto
    }
  }
 }