.close {
  position: absolute;
  right: 4vw;
  top: 4vw;
  width: 6vw;
  height: 6vw;
  &:before {
    content: '';
    background-color: #727271;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.13vw;
    height: 0.26vw;
    width: 100%;
    transform: rotate(45deg);
  }
  &:after {
    content: '';
    background-color: #727271;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.13vw;
    height: 0.26vw;
    width: 100%;
    transform: rotate(-45deg);
  }
}