@import "styles/vars.scss";
.header {
  font-size: $px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 18vw;
  padding: 8vw 5vw 8vw 7.5vw;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: all 0.2s ease-in 0s;
  &.onSecondScreen {
    background-color: white;
    .logo {
      background-image: url("./assets/logo_agc--second.svg");
    }
    .border {
      background-color: #b3b3a8;
    }
    .text {
      color: #727271;
      div:first-child {
        display: none;
      }
      div:last-child {
        display: block;
        color: #727271;
      }
    }
    .hamburger {
      background: url("./assets/hamburger--second.svg") no-repeat;
      background-size: contain;
    }
  }

  > * {
    margin: 0 1.3vw;
  }

  .logo {
    position: relative;
    height: 41em;
    width: 220em;
    background-image: url("./assets/logo_agc.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
  }

  .border {
    width: 0.2vw;
    height: 7.6vw;
    background-color: white;
  }

  .text {
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.6vw;
    line-height: 142.2%;
    text-transform: uppercase;
    color: white;
    text-align: left;
    flex: 2;
    > div:last-child {
      display: none;
    }
  }


  .hamburger {
    background: url("./assets/hamburger.svg") no-repeat;
    background-size: contain;
    width: 6.8vw;
    height: 4.5vw;
  }
}
.sidePanel {

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  margin: 0;
  .shadow {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.25s ease-in 0s;
  }
  .body {
    position: absolute;
    background: white;
    left: 100%;
    top: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.25s ease-in 0s;
    padding: 12vw 8vw 20vw 8vw;
    .close {
      position: absolute;
      right: 4vw;
      top: 4vw;
      width: 6vw;
      height: 6vw;
      &:before {
        content: '';
        background-color: #727271;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -0.13vw;
        height: 0.26vw;
        width: 100%;
        transform: rotate(45deg);
      }
      &:after {
        content: '';
        background-color: #727271;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -0.13vw;
        height: 0.26vw;
        width: 100%;
        transform: rotate(-45deg);
      }
    }
    .logo {
      width: 40vw;
      height: 24.5vw;
      background: url('./assets/hamburger-logo.svg') no-repeat;
      background-size: contain;
      margin-bottom: 10vw;
    }
    .links {
      .link {
        font-size: 4.3vw;
        background-color: transparent;
        font-weight: 400;
        font-family: Manrope, serif;
        color: black;
        line-height: 1.6;
        margin-bottom: 4vw;
      }
    }
    .spacer {
      flex: 2;
    }
    .contacts {
      margin-bottom: 8vw;
      .city {
        font-weight: 600;
        line-height: 1.6;
      }
      .address {
        font-weight: 400;
        line-height: 1.6;
      }
    }
    .icons {
      margin-bottom: 4vw;
      .phone {
        display: flex;
        font-weight: 600;
        font-size: 4.6vw;
        line-height: 1.8;
        text-align: center;
        color: #2c5cbd;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0;
        height: 10vw;
        text-decoration: none;
        &:before {
          content: '';
          background: url('./assets/phone.svg') no-repeat right;
          width: 7.5vw;
          height: 6.8vw;
          background-size: contain;
          margin-right: 0.8vw;
        }
      }
      .whatsapp {
        font-weight: 600;
        font-size: 4.6vw;
        line-height: 1.8;
        text-align: center;
        color: #2c5cbd;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        padding-left: 0;
        height: 10vw;
        text-decoration: none;
        &:before {
          content: '';
          background: url('./assets/whatsapp.svg') no-repeat right;
          width: 8vw;
          height: 8vw;
          background-size: contain;
          margin-right: 0.4vw;
        }
      }
    }
  }
  &.open {
    pointer-events: auto;
    .shadow {
      opacity: .6;
    }
    .body {
      left: 20%;
    }
  }

}