.screen {
  width: 100vw;
  min-height: 170vw;
  position: relative;
  overflow: hidden;
  z-index: 2;
  .pagination {
    top: 5.75vw;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    > span {
      margin: 0 1vw;
    }
    .bullet {
      margin: 0 1vw;
      width: 1.86vw;
      height: 1.86vw;
      background: #BDBDBD;
      opacity: 0.3;
      border-radius: 50%;
      &.active {
        background: #BDBDBD;
        opacity: 1;
      }
    }
  }
  .buttonPosition {
    position: absolute;
    //bottom: 16vw;
    top: 146vw;
    bottom: 0;
    width: 88%;
    left: 6%;
    display: flex;
    align-items: center;
    z-index: 2;
    padding-bottom: 10%;
    .spacer {
      flex: 2;
    }
    .readOn button {
      opacity: 0;
      pointer-events: none;
    }
    > button:last-child {
      margin-right: 0;
    }
    button {
      margin-right: 1vw;
    }


  }
 }