@import "styles/vars.scss";
.selector {
  div:first-child {
    font-weight: 400;
    font-size: 4.8vw;
    line-height: 1.6;
    margin-bottom: 6vw;
    text-align: center;
  }
  .select {
    width: 90.4vw;
    height: 12vw;
    background: #F5F5F5;
    border: 0.3vw solid #D6D6DE;
    border-radius: 2.1vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5vw;
    &:after {
      width: 3.73vw;
      height: 3.73vw;
      background: url('./assets/arrow--right.svg') no-repeat center;
      content: '';
    }
  }
  &.selected {
    .select {
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}
.brunch {
  background: #FFFFFF;
  border: 1px solid #D6D6DE;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 90.4vw;
  margin: 2.13vw auto;
  overflow: visible;
  position: relative;
  .triangle {
    width: 6.4vw;
    height: 6.4vw;
    border: 1px solid #D6D6DE;
    transform: rotate(45deg);
    background: white;
    border-top-left-radius: 4px;
    position: absolute;
    left: 50%;
    margin-left: -3.2vw;
    top: 0;
    margin-top: -3.2vw;
    border-bottom-color: transparent;
    border-right-color: transparent;
    z-index: 100;
  }
  &.withSelected {
    .triangle {
      background: #F0F0F0;
    }
    > .catalogue {
      > .title {
        background: #F0F0F0;
        &:before {
          background: #E5E5E5;
        }
      }
      &.selected {
        > .title {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          margin-left: -1px;
          margin-right: -1px;
          &:after {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .catalogue {
    .title {
      font-size: $fontsize14;
      height: 12vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4.5vw;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 3.5vw;
        right: 3.5vw;
        height: 0.26vw;
        bottom: 0;
        background: #EDEDED;
      }
      &:after {
        width: 3.73vw;
        height: 3.73vw;
        background: url('./assets/arrow--right.svg') no-repeat center;
        content: '';
        opacity: 0;
      }
    }
    &.withBrunch {
      > .title {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .brunch {
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: auto;
    padding: 0;
    margin: 0 auto;
  }
  &.hidden {
    display: none;
    .catalogue {
      .title {

      }
    }
  }

}
