.header {
  width: 100vw;
  height: 46.6vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 59.37%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/bgr.jpg') no-repeat;
  background-size: cover;
  color: white;;
  padding-top: 36%;
  padding-left: 6%;
  font-weight: 700;
  font-size: 5.3vw;
  line-height: 1.3;
}