.present {
  width: 100vw;
  height: 170vw;
  background: black;
  position: relative;
  &.white {
    .image {
      &:after {
        display: none;
      }
    }
  }
  .image {
    width: 100vw;
    height: 116vw;
    position: absolute;
    left: 0;
    top: 0;
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 82%, rgba(0,0,0,1) 100%);
      display: none;
    }
  }
  .textPosition1 {
    position: absolute;
    top: 130vw;
    width: 88%;
    left: 6%;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .textPosition2 {
    position: absolute;
    top: 132vw;
    width: 88%;
    left: 6%;
  }
  .title {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 6.4vw;
    line-height: 1.3;
  }
  .description {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 4.8vw;
    line-height: 1.6;
  }


}